<style>
  .container { width: 1350px; }
  th, td { text-align: center!important; position: relative; }
</style>

<h1>Cohort</h1>
<h2>Retenção de Visitantes</h2>
<p>Interações: Organizar (Eu Quero e Editar Lista)</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Safra
      </th>
      <th colspan="2">
        Interações
      </th>
      <% @cohorts[:users].size.times do |i| %>
        <th <%= i == 0 ? "colspan=3" : "" %>>
          Retenção mês
          <br/>
          <%= i + 1 %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tr>
    <td>Total de cadastros</td>
    <td>Sem interações</td>
    <td>Com interações</td>
    <td>Total</td>
    <td>No dia do cadastro</td>
    <td>No restante do mês</td>
    <td colspan="9"></td>
  </tr>
  <% @cohorts[:users].each_with_index do |row, index_y| %>
    <% users_count                  = @cohorts[:users][index_y].size %>
    <% dayone_activities_count      = @cohorts[:dayone][index_y] %>
    <% first_month_activities_count = dayone_activities_count + @cohorts[:activities][index_y][index_y] %>
    <% total_activities_count       = @cohorts[:activities][index_y].inject(:+) + dayone_activities_count %>
    <% no_interactions_count        = users_count - total_activities_count %>
    <tr>
      <td>
        <%= I18n.t("date.month_names")[index_y + 1] %>
        <br/>
        <strong><%= number_to_human(users_count, significant: false, precision: 3) %></strong>
      </td>
      <!-- no interactions -->
      <td>
        <% calc             = no_interactions_count / users_count.to_f %>
        <% percentage       = (calc * 100.00).round(2) %>
        <% color_percentage = calc.round(1) %>
        <div style="width: 100%; height: 100%; z-index: 0; background-color: green; opacity: <%= color_percentage == 1 ? 0.6 : color_percentage %>; position: absolute; top: 0; left: 0"></div>
        <div style="position: relative; z-index: 1">
          <strong><%= percentage %>%</strong>
          <br>
          <small><%= number_to_human(no_interactions_count, significant: false, precision: 3) %></small>
        </div>
      </td>
      <!-- total -->
      <td>
        <% calc             = total_activities_count / users_count.to_f %>
        <% percentage       = (calc * 100.00).round(2) %>
        <% color_percentage = calc.round(1) %>
        <div style="width: 100%; height: 100%; z-index: 0; background-color: green; opacity: <%= color_percentage == 1 ? 0.6 : color_percentage %>; position: absolute; top: 0; left: 0"></div>
        <div style="position: relative; z-index: 1">
          <strong><%= percentage %>%</strong>
          <br>
          <small><%= number_to_human(total_activities_count, significant: false, precision: 3) %></small>
        </div>
      </td>
      <!-- first month -->
      <td>
        <% calc             = first_month_activities_count.to_f / users_count.to_f %>
        <% percentage       = (calc * 100.00).round(2) %>
        <% color_percentage = calc.round(1) %>
        <div style="width: 100%; height: 100%; z-index: 0; background-color: green; opacity: <%= color_percentage == 1 ? 0.6 : color_percentage %>; position: absolute; top: 0; left: 0"></div>
        <div style="position: relative; z-index: 1">
          <strong><%= percentage %>%</strong>
          <br>
          <small><%= number_to_human(first_month_activities_count, significant: false, precision: 3) %></small>
        </div>
      </td>
      <!-- dayone -->
      <td>
        <% calc             = dayone_activities_count.to_f / first_month_activities_count.to_f %>
        <% percentage       = (calc * 100.00).round(2) %>
        <% color_percentage = calc.round(1) %>
        <div style="width: 100%; height: 100%; z-index: 0; background-color: green; opacity: <%= color_percentage == 1 ? 0.6 : color_percentage %>; position: absolute; top: 0; left: 0"></div>
        <div style="position: relative; z-index: 1">
          <strong><%= percentage %>%</strong>
          <br>
          <small><%= number_to_human(dayone_activities_count, significant: false, precision: 3) %></small>
        </div>
      </td>
      <!-- periods -->
      <% @cohorts[:activities].each_with_index do |column, index_x| %>
        <td>
          <% current_period_activities_count = @cohorts[:activities][index_y][index_y + index_x] %>
          <% if index_x == 0 %>
            <% calc = current_period_activities_count.to_f / first_month_activities_count.to_f %>
          <% else %>
            <% calc = current_period_activities_count.to_f / total_activities_count.to_f %>
          <% end %>
          <% percentage       = calc * 100.00 %>
          <% color_percentage = calc.round(1) %>
          <div style="width: 100%; height: 100%; z-index: 0; background-color: green; opacity: <%= color_percentage == 1 ? 0.6 : color_percentage %>; position: absolute; top: 0; left: 0"></div>
          <div style="position: relative; z-index: 1">
            <% if current_period_activities_count.present? %>
              <strong><%= "#{percentage.round(2)}%" %></strong>
              <br>
              <small><%= number_to_human(current_period_activities_count, significant: false, precision: 3) %></small>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
